<div class="menu_box" id="menu_box_id">
	<div class="frame_profile" id="frame_profile_id" style="padding-top:15px">
			<div style="padding-left: 20px; font-size: 18px; display: inline-block;">
				<% if current_user %>
					<span style="margin-left: 200px">你好！<%= current_user.name %> (<%= link_to "登出", sign_out_path %>)<%= current_user.stage1_score %></span>
				<% end %>
			</div>
			<div style ="display: inline-block; position: absolute; margin-left: 180px">
			<% if !current_user %>
				<span style=""><%= link_to "註冊", sign_up_path , :class => "btn btn-primary" , :style => "width:100px;" %> <%= link_to "登入", sign_in_path , :class => "btn btn-primary" , :style => "width:100px;" %></span>
			<% end %>
			</div>
		<p style="padding-top: 15px"></p>
		<div class="instruction"></div>
		<div class="stage_1_button" onclick=""></div>
		</p>
		<div class="stage_2_button" onclick="location.href='/stage2'"></div>
		</p>
		<div class="stage_3_button" onclick="location.href='/stage3'"></div>
		</p>
		<div class="stage_lock_button" id="lock_stage_2"></div>
		<div class="stage_lock_button" id="lock_stage_3"></div>
	</div>

<script>
$(document).ready(function() {
		$(".frame_game").css("display", "none");
		$("#user_profile").toggleClass("active");
		$("#lock_stage_2").css("margin-top", -220);
		$("#lock_stage_3").css("margin-top", 10);
		$(".instruction").css("display", "none");

	$(".stage_1_button").click(function(){
		entering = 1;
		<% if !current_user || current_user.stage1_score == 0 %>
			$(".instruction").css("display", "static");
			$(this).css('display', 'none');
			$('#user_profile').css('display', 'none');
			$('#game_process').css('display', 'none');
		<% else %>
			window.location.href = "/stage" + entering;
		<% end %>
	});

	$(".instruction").click(function(){
		window.location.href = "/stage1";
	});
});



</script>