<!-- Loading Screen-->
<div id="preload_block"><div class="preload_text">讀取中...</div></div>

<div class="everything">
<div class="btn btn-primary btn-lg" id="continue-in-frame" onclick="pause_switch()">繼續</div>
<%= link_to "回主選單", menu_path, :class => "back-to-menu btn btn-primary btn-lg", :id => "back-to-menu-id" %>
<div class="btn btn-success btn-lg" id="back-to-menu-id-2">繼續</div>
<div class="quiz-window-2" id="quiz-window-2-id"></div>
<div class="quiz-window" id="quiz-window-1-id"></div>
<div class="quiz-window-3" id="quiz-window-3-id"></div>
<div class="right_answer" id="right_answer-id"></div>
<div class="right_answer_multiple" id="right_answer_id_1"></div>
<div class="right_answer_multiple" id="right_answer_id_2"></div>
<div class="right_answer_multiple" id="right_answer_id_3"></div>
<div class="right_answer_multiple" id="right_answer_id_4"></div>
<div class="right_answer_multiple" id="right_answer_id_5"></div>
<div class="wrong" id="wrong-id"></div>
<div class="correct" id="correct-id"></div>
</p>
</p>
<div class="divider">
	<div id="pause" class="btn btn-primary btn-lg" style="width:100px; display: static;" onclick="pause_switch()">暫停</div>  	<span class="status-bar"><p style="position: absolute; font-size: 20px; padding-top: 7px; padding-left: 30px" id="stage_score">得分：0</p></span>   <span class="time-bar"></span>
</div>
<% if !current_user %>
<p style="text-align:center; color: red">注意：未註冊用戶的遊戲紀錄不會保留，請<%= link_to "登入", sign_in_path %> 或 <%= link_to "註冊", sign_up_path %></p>
<% end %>
</div>
<div class="secret_form">
	<% if current_user %>
		<%= form_for @user do |t| %>
			<p><%= t.label :stage3_score %><%= t.text_field :stage3_score %></p>
			<p><%= t.submit :id => "submit_score" %>
		<% end %>
	<% end %>
</p>
</div>

<%= render file: "/app/views/thisapp/preload2.html.erb" %>

<script>
$(document).ready(function() {
	var revealing_speed = qs[current_q_number].revealing_speed;
	stage_time = 110;
	$(".quiz-window-3").css('display', 'none');
	$("#back-to-menu-id-2").css('display', 'none');
	$('.instruction_point').css('opacity', 0);
	$('#stage_score').css('opacity', 0);
	<% if current_user %>
		user_current_stage_score = <%= current_user.stage3_score %>;
		login = false;
	<% end %>

	$("#back-to-menu-id-2").click(function(){
		<% if current_user %>
			if (stage_scoring > user_current_stage_score) {
				document.getElementById('user_stage3_score').value = stage_scoring;
			};
			document.getElementById('submit_score').click();
		<% else %>
				window.location.href = "/";		
		<% end %>
	});
});

$(window).load(function(){
	document.getElementById('preload').style.display = "none";
	$('#preload_block').animate({opacity: 0}, 800);
	setTimeout(function(){document.getElementById('preload_block').style.display = "none";}, 800);
	$('.instruction_point').animate({opacity:1}, 1000);
	$('#stage_score').animate({opacity:1}, 1000);
	counter = setInterval(timer, stage_time);
	position_windows();
	change_quiz();
});


</script>